
services:
  backend:
    image: syedrayees/bank_management_system_backend:latest    # auto tagging via Jenkins
    build: ./backend
    container_name: backend
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      PORT: ${PORT}
    expose:
      - "4000"   # internal only
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:4000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - appnet

  frontend:
    image: syedrayees/bank_management_system_frontend:latest
    build: ./frontend   # uses your Dockerfile
    container_name: frontend
    ports:
      - "80:80"         # ONLY public exposure
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
